[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "basilisk"]
	path = basilisk
	url = https://github.com/ltla/basilisk
	shallow = true
	registered = true
[submodule "BiocSingular"]
	path = BiocSingular
	url = https://github.com/ltla/biocsingular
	shallow = true
	registered = true
[submodule "BumpyMatrix"]
	path = BumpyMatrix
	url = https://github.com/ltla/bumpymatrix
	shallow = true
	registered = true
[submodule "DelayedRandomArray"]
	path = DelayedRandomArray
	url = https://github.com/ltla/delayedrandomarray
	shallow = true
	registered = true
[submodule "ScaledMatrix"]
	path = ScaledMatrix
	url = https://github.com/ltla/scaledmatrix
	shallow = true
	registered = true
[submodule "SingleR"]
	path = SingleR
	url = https://github.com/ltla/singler
	shallow = true
	registered = true
[submodule "TrajectoryUtils"]
	path = TrajectoryUtils
	url = https://github.com/ltla/trajectoryutils
	shallow = true
	registered = true
